/**
 * Created by gavin on 18/1/4.
 */
$theme-color: #ffad4a;  // 主题色
$theme-font-color: #313239;  // 主题字体色
$theme-font-color-assist: #979fa6;  // 二级主题字体色
$theme-font-color-warn: #f01934;  // 警告文字色
$theme-line: #d8dfe5;
